body {
  background-color: #e4e6eb;
}

.page-content {
  text-align: center;
  margin: 50px 15%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board {
  flex-grow: 1;
}

.tic-tac-toe-title {
  font-family: 'Architects Daughter', cursive;
}

.tic-tac-toe-messages {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Architects Daughter', cursive;
}

.tic-tac-toe-messages > h5 {
  margin-bottom: 10px;
}

.tic-tac-toe-is-traveling {
  color: grey;
}

.tic-tac-toe-winner {
  font-size: x-large;
  color: green;
}

.tic-tac-toe-error {
  color: red;
}

@media only screen and (max-width: 900px) {
  .page-content {
    text-align: center;
    margin: 50px 5%;
  }
}
