.menu-container {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.ttt-menu-button {
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  background-color: brown;
  font-family: 'Architects Daughter', cursive;
  color: white;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  &:disabled {
    background-color: rgb(95, 95, 95);

    &:hover {
      background-color: rgb(95, 95, 95);
      cursor: not-allowed;
    }
  }

  &:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
    background-color: #d30000;
  }

  &.lined.thick {
    border: solid 3px #41403e;
  }
}

.next-to-move-header {
  font-family: 'Architects Daughter', cursive;
}

.next-to-move {
  font-family: 'Cabin Sketch', cursive;
  font-size: 150px;
  top: -40px;
  position: relative;
}
