body {
  background-color: #e4e6eb;
}

.page-content {
  text-align: center;
  margin: 50px 15%;
}

.container {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .page-content {
    text-align: center;
    margin: 50px 5%;
  }
}
