body {
  background-color: #e4e6eb;
}

.page-content {
  text-align: center;
  margin: 50px 15%;
}

.time-machine-messages {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board {
  flex-grow: 1;
}

@media only screen and (max-width: 900px) {
  .page-content {
    text-align: center;
    margin: 50px 5%;
  }
}
